[submodule "pkg/python_integration/biopython"]
	path = pkg/python_integration/biopython
	url = https://github.com/biopython/biopython
[submodule "pkg/python_integration/cpython"]
	path = pkg/python_integration/cpython
	url = https://github.com/python/cpython
[submodule "scripts/golang-tools-install-script"]
	path = scripts/golang-tools-install-script
	url = https://github.com/canha/golang-tools-install-script
